@use "../base/breakpoints" as *;

.boiler {
  background-color: #3781c8;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
  &:first-child {
    margin-top: 18px;
  }

  @include breakpoint(large) {
    &:first-child {
      margin-top: 0;
    }
  }
}
