.container-theater-mode > .video > .video-container {
  max-height: 80vh;
}

.video-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  background-color: black;
  display: flex;
  justify-content: center;

  video {
    width: 100%;
  }

  &:hover &__controls,
  &:focus-within &__controls,
  &--paused &__controls {
    opacity: 1;
  }

  &--paused &__controls__buttons__play-pause-btn__pause-icon {
    display: none;
  }

  &:not(&--paused) &__controls__buttons__play-pause-btn__play-icon {
    display: none;
  }

  &__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: #fff;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
      width: 100%;
      aspect-ratio: 6 / 1;
      z-index: -1;
      pointer-events: none;
    }

    &__buttons {
      display: flex;
      gap: 0.5rem;
      padding: 0.25rem;
      align-items: center;

      & > button {
        background: none;
        border: none;
        color: inherit;
        padding: 0;
        width: 30px;
        height: 30px;
        font-size: 1.1rem;
        cursor: pointer;
        opacity: 0.85;
        transition: opacity 0.25s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }

    &__timeline-container {
      --preview-position: 0;
      --progress-position: 0;
      --buffer-position: 0;

      height: 7px;
      margin-inline: 0.5rem;
      cursor: pointer;
      display: flex;
      align-items: center;

      .video-container.scrubbing &__timeline,
      &:hover &__timeline {
        height: 100%;
      }

      .video-container.scrubbing &__timeline__thumb-indicator,
      &:hover &__timeline__thumb-indicator {
        transform: translateX(-50%) scale(1);
      }

      .video-container.scrubbing &__timeline::before,
      &:hover &__timeline::before {
        display: block;
      }

      .video-container.scrubbing &__timeline__preview-img,
      &:hover &__timeline__preview-img {
        display: block;
      }

      &__timeline {
        background-color: rgba(100, 100, 100, 0.5);
        height: 3px;
        width: 100%;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: calc(100% - var(--preview-position) * 100%);
          background-color: rgba(150, 150, 150, 0.5);
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: calc(100% - var(--progress-position) * 100%);
          background-color: red;
        }

        &__buffer {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: calc(100% - var(--buffer-position) * 100%);
          background-color: rgba(150, 150, 150, 0.5);
        }

        &__thumb-indicator {
          position: absolute;
          height: 200%;
          top: -50%;
          transform: translateX(-50%) scale(0);
          left: calc(var(--progress-position) * 100%);
          background-color: red;
          border-radius: 50%;
          transition: transform 150ms ease-in-out;
          aspect-ratio: 1 / 1;
        }

        &__preview-img {
          position: absolute;
          height: 80px;
          aspect-ratio: 16 / 9;
          top: -1rem;
          transform: translate(-50%, -100%);
          left: calc(var(--preview-position) * 100%);
          border-radius: 0.25rem;
          border: 2px solid white;
          display: none;
        }
      }
    }
  }

  &__thumbnail-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: none;
  }

  &.scrubbing &__thumbnail-img {
    display: block;
  }
}
